{% load bootstrap3 %}
{% load staticfiles %}


<head>
	{# Load CSS and JavaScript #}
	{% block stylesheets %}
		{% bootstrap_css %}
	{% endblock %}
	{% block scripts %}
		<script src="{% static "js/jquery-1.10.2.js" %}"></script>
		{% bootstrap_javascript %}
	{% endblock %}
	<title>
		{% block title %}
			Contact Credup
		{% endblock %}
	</title>
</head>
<body>
	<nav class="navbar navbar-default navbar-static-top" role="navigation">
		<a class="navbar-brand" href="/">CREDUP</a>
		{% block base-topbar %}
			{% include "__m_small_h_user_authentication.html" %}
		{% endblock %} 
	</nav>
	<div class="container">
		{% block base-showcase %}
			<div class="row">
				<div class="col-md-12 header">
						<div class="jumbotron">
							<h1>CREDUP!</h1>
							<p>keep all your contacts credentials updated</p>
						</div>
				</div>
			</div>
		{% endblock %}
		{% block base-main %}
			{% include "__sidebar_content.html" %}
		{% endblock %}
	</div>
</body>

