<div class="collapse navbar-collapse" >
	{% if user.is_authenticated %} 
		<ul class="nav navbar-nav navbar-right">
			<li><a href="{{ profile_url }}">{{ user.username }}</a></li>
			<li class="dropdown">
				<a data-toggle="dropdown" href="#">options <b class="caret"></b></a>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
					<li><a href="{{ profile_url }}">profile</a></li>
					<li class="divider"></li>
					<li><a href="{{ logout_url }}">Log out</a></li>
				</ul>
			</li>
		</ul>
	{% else %}
		{% if not logging %}
			<ul class="nav navbar-nav navbar-right">
				<li>
					<form class="navbar-form" role="log in" action="{{ login_url }}">
						<button type="submit" class="btn btn-default">Log in</button>
					</form>
				</li>
				<li class="dropdown">
					<a data-toggle="dropdown" href="#">other <b class="caret"></b></a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						<li><a href="{{ register_url }}">register</a></li>
						<li><a href="{{ reset_url }}">forgot password</a></li>
						<!-- <li class="divider"></li> -->
					</ul>
				</li>
			</ul>
		{% else %}
		{% endif %}
	{% endif %}
</div>
