<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	{% if user.is_authenticated %} 
		<ul class="nav navbar-nav navbar-right">
			<li><a href="user/{{ user.username }}">{{ user.username }}</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">options <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="user/{{ user.username }}">profile</a></li>
					<li class="divider"></li>
					<li><a href="account/logout">Log out</a></li>
				</ul>
			</li>
		</ul>
	{% else %}
		{% if not logging %}
			<form class="navbar-form navbar-right" role="sign in" action="accounts/reset/">
				<button type="submit" class="btn btn-link">reset</button>
			</form>
			<form class="navbar-form navbar-right" role="reset user password" action="accounts/login/">
				<button type="submit" class="btn btn-default">Sign in</button>
			</form>
		{% else %}
		{% endif %}
	{% endif %}
</div>
